body {
  background-image: url(https://i.ytimg.com/vi/oNX70xlvCJs/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.frog {
  border-radius: 15%;
  width: 200px;
  margin-top: 10px;
}
.div1 {
  background-color: black;
  margin-top: 100px;
  width: 600px;
  height: 300px;
  border-radius: 15px;
  color: white;
  text-align: center;
}

.div2 {
  background-color: black;
  margin-top: -30px;
  width: 600px;
  height: 300px;
  border-radius: 15px;
  color: white;
  text-align: center;
  margin-left: 610px;

  text-align: center;
}
.gop1 {
  width: 200px;
  border-radius: 15%;
  margin-top: 10px;
}
